* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.btn {
    height: 50px;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
}
.primary-color{
    color: #151414;
}

.banner {
    width: 100%;
    height: 80vh;
    background-image: url("../images/banner/banner2.png");
    position: top;
    padding: 100px;
    align-items: center;
}

.banner-details {
    margin-left: 45%;
    margin-top: 10%;
    width: 500px;
    text-align: right;
}

.banner-details h1 {
    font-weight: 700;
    font-size: 65px;
}

.banner-details p {
    color: #444343;
}

.banner-details button {
    margin-top: 50px;
    background: #F15B22;
    color: white;
}

/* My failure section Styles */
.my-failures{
    margin-top: 100px;
    padding: 50px;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.failure-details{
    width: 30%;
    font-size: 16px;
}
.failure-details h2{
    font-size: 40px;
}
.failure-details p{
    margin: 24px 0px 16px 0px;
    color: #444343;
    line-height: 26px;
   
}
.failure-details ul li{
    list-style: none;
    padding: 10px 0px;
}
.failure-details ul li i{
    color: #01a841d0;
}

/* My plans Section Styles */
.my-plans{
    margin:200px 200px 100px;
    text-align: center;
}
.my-plans h2{
    font-size: 40px;
    margin-bottom: 30px;
}
.plans{
    display: flex;
    gap: 80px;
    justify-content: center;
    
}
.plan{
    padding: 20px;
}
.plan h3{
    padding: 10px 0px 10px 0px;
    
}
/* My education section */
.my-education{
    margin:200px 200px 100px;
}
.my-education h2{
    padding-bottom: 20px;
    text-align: center;
    font-size: 40px;
}
.education-boxs{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.education-box{
    padding: 10px;
    box-shadow: 1px 1px 2px 1px black;

}
/* Second banner section */
.second-banner{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.call-banner{
    height: 200px;
    width: 62%;
    background-image: url("../images/gradient2.png"),url(../images/watch.png),linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,0.1));
    border-radius: 10px;
    background-position: center, left;
    background-blend-mode: overlay;
    color: white;
    align-items: center;
}
.call-banner-info{
    padding: 40px;
    display: block;
}
.call-banner-info h1{
    margin-bottom: 10px;
}
/* Footer section styles */
.footer{
    height: 50vh;
    background: #151414;
    display: flex;
    color: white;
    padding-top: 130px;
    justify-content: space-around
}
.site-info{
    width: 30%;
}
.site-info h1{
    margin-bottom: 15px;
}
.site-info p{
    font-size: 16px;
    margin-bottom: 24px;
}
.social-media{
    display: flex;
    gap: 24px;
}
.site-subscribe{
    width: 30%;
}
.site-subscribe input{
    padding: 10px;
    background: #151414;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    width: 250px;
    margin: 30px 0 15px;
}